.EasyChoices {
}

.easychoice-grid {
}

.easychoice-choice.enabled {
    display: inline-grid;
    width: 140px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.easychoice-choice.disabled {
    display: inline-grid;
    width: 140px;
    font-weight: bold;
    padding: 10px;
    color: #ccc;
}

.easychoice-choice.enabled:hover {
    background-color: #ddd;
}

.easychoice-description {
    font-size: 0.7em;
    font-weight: normal;
}
